{% extends 'admin/adbase.html.twig' %}
{% block mainTitle %} Add section {% endblock %}
{% block body %}

    <div class="box">
        <div class="box-header">
             <h3 class="box-title">Hover Data Table</h3>                                    
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>#</th>
                    <th>FileName</th>
                    <th>Description</th>
                    <th>Extension</th>
                    <th>Size</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {%  for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.fileName }}</td>
                            <td>{{ file.fileDescription }}</td>
                            <td>{{ file.fileType }}</td>
                            <td>{{ file.fileSize }}</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %} 


            <script src="http://ngiriraj.com/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
            <script src="http://ngiriraj.com/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

            <script>
                $(document).ready(function() {
                    $(".table").dataTable({
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
                    } );
            </script>

{% endblock %}