<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Sonny Hu">

    <title>{% block title %}{{ htmlTitle }}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/log.css') }}">
    <!-- Scrollbar Custom CSS -->
<!-- 
 <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Réalisations
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
    </ul>
</a>
-->

</head>

<body onload="toggleCheck();">

    <div class="mainGlobal">

        <nav id="sidebar">
            
            <div class="sidebar-header">
                <h3><center>Sonny Hu</center></h3>
            </div>

            <ul class="myMenu list-unstyled">
                <li class="active">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>

                <li>
                    <a href="{{ path('skill') }}">Competences</a>
                </li>

                <li>
                    <a href="{{ path('projet') }}">Réalisations</a>
                </li>

                <li>
                    <a href="{{ path('contact') }}">Contact</a>
                </li>
               
            </ul>
            <ul class="mySocial">
                <div id="social">
                    <a href="https://twitter.com/hu_sonny" target="_blank" title="Mon Twitter"><i class="fa fa-twitter fa-2"></i></a>
                    <a href="#" target="_blank" title="Mon Facebook"><i class="fa fa-facebook fa-2"></i></a>
                    <a href="https://www.linkedin.com/in/sonny-hu-16001384" target="_blank" title="Mon Linkedin"><i class="fa fa-linkedin fa-2"></i></a>
                    <a href="https://github.com/s0nnyhu" target="_blank" title="Mon Github"><i class="fa fa-github fa-2"></i></a>
                </div>
            </ul>
            <ul class="list-unstyled adMenu">
                 {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('dashboard') }}"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{{ path('logout') }}"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i><span>Logout</span></a>
                </li>
                {% endif %}
            </ul>
            
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar">
                <div class="container-fluid headBar">
                    <button type="button" style="display:inline;" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <span><i class="glyphicon glyphicon-menu-left"></i></span>
                    </button>
                    <h3 class="titleHeadBar" style="display:inline;">{% block mainTitle %}{{ mainTitle }}{% endblock %}</h3>
                    <!--<div id="moon"></div>-->
                </div>
            </nav>
            <section id="post">
               {% block body %}{% endblock %}
            </section>

            
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script>
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("goTop").style.display = "block";
                    } else {
                        document.getElementById("goTop").style.display = "none";
                    }
                }

                $(document).ready(function() {

                    $('#goTop').click(function() {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 200);
                    });
                });

            </script>

            <button id="goTop" title="Go to top"><i class="fa fa-chevron-up"></i></button>
            <footer>
            <div class="socialFooter">
                <ul class="mySocial">
                    <div id="social">
                        <a href="https://twitter.com/hu_sonny" target="_blank" title="Mon Twitter"><i class="fa fa-twitter fa-2"></i></a>
                        <a href="#" target="_blank" title="Mon Facebook"><i class="fa fa-facebook fa-2"></i></a>
                        <a href="https://www.linkedin.com/in/sonny-hu-16001384" target="_blank"  title="Mon Linkedin"><i class="fa fa-linkedin fa-2"></i></a>
                        <a href="https://github.com/s0nnyhu" target="_blank" title="Mon Github"><i class="fa fa-github fa-2"></i></a>
                    </div>
                </ul>
            </div>
        </footer>
        </div>
        

    </div>
    

    <script type="text/javascript">
        var winWidth  = $(window).width();
        function toggleCheck() {
             winWidth = $(window).width();
                if(winWidth < 768) {
                    $('.glyphicon').addClass("glyphicon-menu-right");
                } else {
                    $('.glyphicon').removeClass("glyphicon-menu-right");
                }
        };

        window.onresize = toggleCheck;
        $(document).ready(function() {
          
            $('#sidebarCollapse').on('click', function() {
                $('.glyphicon').toggleClass("glyphicon-menu-right");
                //$('#sidebar').css('z-index', '1003');
                /* temp
                setTimeout(function(){
                  $('#sidebar, #content, .postTitle').toggleClass('active');
                }, 150);
                $('#sidebar, #content, .postTitle').toggleClass('active', 10000);
                setTimeout(function(){
                    $('#sidebar').css('z-index', '1001');
                }, 500);*/
                $('#sidebar, #content, .postTitle, .socialFooter').toggleClass('active')
                $('footer').toggleClass('active');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');

               
            });

            
        });

    </script>
   
</body>

</html>