{% extends 'base.html.twig' %}

{% block title %}{{ htmlTitle }}{% endblock %}

{% block mainTitle %}{{ mainTitle }}{% endblock %}

{% block body %}
    <div class="titleContact">
        <hr>
        <h4>Me contacter :</h4>
        
         
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">



            {% for message in app.flashes('sent') %}
                <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('notSent') %}
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-warning"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(formMessage, {'action': '/contact', 'attr': {'id': 'formContact'}}) }}
                <div class="row">
                    <div class="col-xs-5 col-md- form-group">
                        {{ form_label(formMessage.name, 'Nom:')  }}
                        {{ form_errors(formMessage.name) }}
                        {{ form_widget(formMessage.name, {'attr' : {'class': 'form-control', 'id': 'name', 'placeholder': 'Nom & Prénom', 'name': 'name'}}) }}
                    </div>
                    <div class="col-xs-7 col-md-7 form-group">
                        {{ form_label(formMessage.email, 'Email:')  }}
                        {{ form_errors(formMessage.email) }}
                        {{ form_widget(formMessage.email, {'attr' : {'class': 'form-control', 'id': 'email', 'placeholder': 'email@domain.com', 'name': 'email'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12 form-group">
                        {{ form_label(formMessage.message, 'Message:')  }}
                        {{ form_errors(formMessage.message) }}
                        {{ form_widget(formMessage.message, {'attr' : {'class': 'form-control', 'id': 'message', 'placeholder': 'Message', 'name': 'message', 'rows': '7'}}) }}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-6 form-group">
                        {{ form_widget(formMessage.send, {'attr': {'class': 'btn btn-primary pull-left'}, 'id': 'send'} ) }}
                    </div>
                </div>
            {{ form_end(formMessage) }}
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="row">
                <div class="hrSocial">
                    <span> <strong><p>Réseaux sociaux</p></strong>
                </span>
                    <ul class="mySocial" style="border-bottom: none;">
                        <div id="socialLinkContact">
                            <a href="https://twitter.com/hu_sonny" target="_blank"  title="Mon Twitter"><i class="fa fa-twitter fa-2"></i></a>
                            <a href="#" target="_blank" title="Mon Facebook"><i class="fa fa-facebook fa-2"></i></a>
                            <a href="https://www.linkedin.com/in/sonny-hu-16001384" target="_blank" title="Mon Linkedin"><i class="fa fa-linkedin fa-2"></i></a>
                            <a href="https://github.com/s0nnyhu" target="_blank" title="Mon Github"><i class="fa fa-github fa-2"></i></a>
                        </div>
                    </ul>
                    
                    <div class="hrSocial">
                        <p>Ou me contacter par mail<br/>contact@husonny.fr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}